<div class="col-md-6 offset-md-3">
  <h3 class="text-center">{{ editMode ? 'Edición' : 'Registro' }}</h3>
  <form (ngSubmit)="onSubmit()" #usuarioForm = "ngForm" class = "row g-3">
    <label for="idUsuario" class="form-label">Cedula:</label>
    <div class="col-md-6 input-group">
      <input type="text"
             class="form-control "
             id="idUsuario"
             name="idUsuario"
              [(ngModel)]="usuario.idUsuario"
             minlength="3"
             maxlength="12"
             placeholder="Digite su cedula"
             #idUsuario = "ngModel"
             [disabled]="editMode"
      >
    <div class="col-md-1">
      <label for="tipo" class="input-group-text" >Tipo</label>
    </div>
    <div class="col-md-3" >
      <select class="form-select" id="tipo" name="tipoCedula" [(ngModel)]="usuario.tipoCedula" [disabled]="editMode">
        <option value="FIS">Físico</option>
        <option value="JUR">Jurídico</option>
      </select>
    </div>
    </div>
      <div class = "alert alert-danger d-flex align-items-center" role = "alert"*ngIf="idUsuario.invalid && (idUsuario.dirty || idUsuario.touched)">
        <div  *ngIf="idUsuario.errors['required']" >
          El id es requerido
        </div>
        <div *ngIf="idUsuario.errors['minlength']">
          El id debe tener al menos 3 caracteres
        </div>
        <div *ngIf="idUsuario.errors['maxlength']">
          El id debe tener menos de 12 caracteres
        </div>
      </div>



    <div class="form-group">
      <label for="nombre" class="etiqueta">Nombre:</label>
      <input type="text"
             class="form-control"
             id="nombre"
             name="nombre"
             [(ngModel)]="this.usuario.nombre"
             required
             minlength="3"
             maxlength="80"
             placeholder="Digite su nombre"
             #nombre = "ngModel"
      >
      <!--      Si esll nombre esta sucio, es invalido-->
      <div class = "alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <div *ngIf="nombre.errors['required']">
          El campo es requerido
        </div>
        <div *ngIf="nombre.errors['minlength']">
          El campo debe tener al menos 3 caracteres
        </div>
        <div *ngIf="nombre.errors['maxlength']">
          El campo debe tener menos de 80 caracteres
        </div>
      </div>
    </div>





    <div class="form-group">
      <label for="contrasena" class="etiqueta">Contraseña:</label>
      <input
        type="password"

             class="form-control"
             id="contrasena"
             name="contrasena"
             required
             minlength="8"
             [(ngModel)]="usuario.contrasenia"


             #contrasena = "ngModel"


      >
<!--       pattern="/^(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=\D*\d).{8,}$/"-->
      <div class = "alert alert-danger" *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)">
        <div *ngIf="contrasena.errors['required']">
          El campo es requerido
        </div>
        <div *ngIf="contrasena.errors['minlength']">
          La contraseña debe tener al menos 8 caracteres
        </div>
        <div *ngIf="contrasena.errors['pattern']">
          prueba de regex
        </div>

      </div>
    </div>


    <button class="btn btn-success" [disabled]="!usuarioForm.form.valid" >
<!--      Si  es para guardar el boton dira guardar si es para actualizar el boton dira actualizar-->
      <p class="text-center">{{ editMode ? 'Actualizar' : 'Guardar' }}</p>
    </button>
    <!--      Conecta con la directivca y te lleva a esa ruta por defecto-->
    <a appAuthCurrent [defaultRoute]=" '/login' " class="btn btn-danger">Pagina principal</a>
  </form>

</div>
