<div class="container mt-4 row justify-content-center ">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
    <h2 class="text-center">Facturacion</h2>
    <h3 class="text-center"><p>Proveedor:<a>{{getName()}}</a></p></h3>
      </div>
    <form (ngSubmit)="onSubmit()" #facturaForm = "ngForm" >

          <div class="input-group mb-3">
            <p>Cliente: </p>
            <input type="text"
                   class="form-control"
                   aria-label="Text input with dropdown button"
                   [value]="clienteActual.nombreC ?? ' '"
                   [(ngModel)]="clienteActual.nombreC"
                   name = "cliente"
                   required
                   #cliente = "ngModel"

            >
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li class="dropdown-item" *ngFor="let cli of clientes">
                <a class="dropdown-item" (click)="seleccionarCliente(cli)">{{cli.nombreC}}</a>
              </li>
              <li><hr class="dropdown-divider"></li>
            </ul>


            <div class = "alert alert-danger" *ngIf="cliente.invalid && (cliente.dirty || cliente.touched)">
              <div class = "error" *ngIf="cliente.errors['required']">
                El campo es requerido
              </div>
            </div>
          </div>

<!--  --------------------------------------- Espacio de seleccion de Productos----------------------------------------------->

          <div class="input-group mb-3">
            <p>Producto: </p>
            <input type="text"
                   class="form-control"
                   aria-label="Text input with dropdown button"
                   [value]="productoActual.nombre ?? ' '"
                   [(ngModel)]="productoActual.nombre"
                   name = "producto"
                   required


            >

            <button type="button"  class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li class="dropdown-item" *ngFor="let pro of productos">
                <a class="dropdown-item"  (click)="seleccionarProducto(pro)">{{pro.nombre}}</a>
             </li>
              <li><hr class="dropdown-divider"></li>
            </ul>
            <button type="button" class="btn btn-outline-secondary"  (click)="agregarProducto(productoActual.nombre)"> + </button>
          </div>


<!--        ---------------------------------------Espacio de detalles---------------------------------------------------->
            <table class="table table-striped">
              <thead class= "table-dark">
              <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
              </tr>
              </thead>
              <tbody class="scrollable-tbody">
              <tr *ngFor="let det of detalles">
                <td>{{det.numDetalle}}</td>
                <td>{{det.codigoProducto}}</td>
                <td>{{det.valorProductos | precioColones}}</td>
                <td>{{det.descripcionDetalle}}</td>
                <td>
                  {{det.cantidad}}
                  <button type="button" (click)="addDet(det)">+</button>
                  <button type="button" (click)="remDet(det)">-</button>
                </td>
              </tr>
              </tbody>
            </table>

          <p>Monto:
            {{ total | precioColones}}
          </p>
<!--          aqui iria el monto final-->
          <button class="btn btn-primary"  >Agregar</button>
<!--      [disabled]="clienteActual===undefined || detalles.length !== 0"-->
          <div *ngIf="error" class="error">{{error}}</div>
    </form>



    </div>
  </div>
</div>

