.nav-bar-custom{
  background-color: lightblue;
  color: white;
}
.nav-bar-custom .nav-link {
  color: #e8995c; /* Reemplaza #TU-COLOR-DESEADO con el código hexadecimal del color que desees */
}
.btn-group-hover:hover .dropdown-menu {
  display: block;
  transform: translateY(40%);
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 140, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
