<h2> Lista proveedores</h2>
<table class="table table-striped">
  <thead class= "table-dark">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Rol</th>
    <th>Tipo de identificación</th>
    <th>Estado</th>
    <th>Administración</th>
  </tr>
  </thead>
  <tbody>
<tr *ngFor="let prov of proveedores">
    <td>{{prov.idUsuario}}</td>
    <td>{{prov.nombre}}</td>
    <td>{{prov.tipo}}</td>
    <td>{{prov.tipoCedula }}</td>
  <td>
    <div class="input-group">
      <select class="form-select form-select-m" [(ngModel)]="prov.aprobado">
        <ng-container *ngIf="prov.aprobado === 'ESP'; else aprob">
          <option value="ESP">Espera</option>
          <option value="APR">Aprobado</option>
          <option value="REC">Rechazado</option>
        </ng-container>
        <ng-template #aprob>
          <ng-container *ngIf="prov.aprobado === 'APR'; else revoc">
            <option value="APR">Aprobado</option>
            <option value="REV">Revocado</option>
          </ng-container>
          <ng-template #revoc>
          <ng-container *ngIf="prov.aprobado === 'REV'; else recha">
            <option value="REV">Revocado</option>
            <option value="APR">Aprobado</option>
          </ng-container>
          </ng-template>

          <ng-template #recha>
          <ng-container *ngIf="prov.aprobado === 'REC'; else defaultOptions">
            <option value="REC">Rechazado</option>
            <option value="APR">Aprobado</option>
          </ng-container>
          </ng-template>

          <ng-template #defaultOptions>
            <option value="APR">Aprobado</option>
            <option value="REC">Denegado</option>
          </ng-template>
        </ng-template>
      </select>
      <button class="btn btn-outline-secondary" (click)="guardarAprobacion(prov)">Guardar</button>
    </div>
  </td>
    <td>
      <button class="btn btn-danger" style="margin-left: 10px " (click)="eliminarUsuario(prov.idUsuario)">Eliminar</button>
<!--      <button class="btn btn-primary" style="margin-left: 10px " (click)="verDetallesUsuario(usuario.idUsuario)">Ver detalles</button>-->
    </td>
  </tr>
  </tbody>

</table>

