<div class="d-flex  align-items-center justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="assets/images/coco.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Facturacion electronica 2</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut magna elit, commodo tristique nibh dignissim, tristique lobortis leo. Praesent tortor tortor, lacinia et egestas id, scelerisque vel metus. Nam ut ullamcorper quam. Mauris ultricies magna eget lectus euismod imperdiet. Nullam id tellus quis metus fermentum lobortis at in leo. Sed sed porta justo, sit amet aliquam tellus. Ut ultrices enim sit amet pellentesque interdum.
      </p>
      <a appAuthCurrent [defaultRoute]=" '/login' " class="btn btn-primary">Atrás</a>
    </div>
  </div>

</div>
